<div class="card text-center" id="quote-area">
        <div class="card-body" id="quote-card">
        <h5 class="card-title" id="intro-font">GET FIT</h5>
        <h2>Hear this...</h2>
        {{!-- {{#each quotes as |quote|}} --}}
        <div id="quotebody" class="card mb-3">
            <blockquote class="quote">
                <p class="quote-text"></p>
            </blockquote>
        </div>
    <div class="card-body" id="quote-card">
        <h6 class="card-title" id="intro-font1">WARMUP</h6>
        <h2>Description: A proper warm-up increases blood flow to the muscles, which helps to increase their flexibility and range of motion, reducing the risk of injury. It also raises the body's core temperature, which improves the efficiency of the muscles and reduces the likelihood of muscle strain or other injuries during exercise. Additionally, a warm-up session can help to mentally prepare beginners for their workout and improve their overall performance.</h2>
        {{!-- {{#each quotes as |quote|}} --}}
        {{!-- <div id="quotebody" class="card mb-3">
            <blockquote class="quote">
                <p class="quote-text" id="musclegroup"></p>
            </blockquote>
        </div> --}}
        {{!-- {{/each}} --}}
    </div>
</div>

{{!-- {{#each exercises}} --}}
<div class="justify-content-between" id="warmup">
    <div class="row align-items-center ">
        <div class="col">
            <div class="card bg-info">
                <div class="card-body" id="warmup-card">
                    <h5 class="card-title one" id="titleone"></h5>
                    <p class="card-text" id="workout-des1"></p>
                     <img src="/images/jumping-jack.jpeg" alt="women doing a jumping jack">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-info">
                <div class="card-body" id="warmup-card">
                    <h5 class="card-title" id="titletwo" ></h5>
                    <p class="card-text" id="workout-des2"></p>
                    <img src="/images/knees.jpeg" alt="men doing high knees">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-info">
                <div class="card-body" id="warmup-card">
                    <h5 class="card-title three" id="titlethree" ></h5>
                    <p class="card-text" id="workout-des3"></p>
                    <img src="/images/legkick.jpeg" alt="women doing a jumping jack">
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<footer>
    <div class="d-grid gap-2 col-6 mx-auto" id="today-workout">
        <button class="btn" type="button" id="today-workout-btn">On To Todays Workout!</button>
    </div>
</footer>
<script src="./js/warmup.js"></script>
{{!-- <div class="container">
    <div id="quotecard" class="row">
        <div class="col-md-8 offset-md-2">
            <h2>Hear this...</h2>
            {{#each quotes as |quote|}}
            <div id="quotebody" class="card mb-3">
                <blockquote class="quote">
                    <p>{{quote.quotes}}</p>
                </blockquote>
            </div>
            {{/each}}
        </div>
    </div>
</div> --}}
{{!-- <div class="warmups">
    <div class="row">
        <divc class="col-md-2">
            <div id="" class="card mb-3 ">
                <div class="card-body">
                    {{!-- <h3 class="card-title">{{warmup exercises.name}}</h3> --}}
                    {{!-- <p class="card-text">{{warmup exercise.description}}</p> --}}
                    {{!-- </div>

            </div>
    </div>
    <div class="row">
        <divc class="col-md-4">
            <div class="card mb-3">
                <div class="card-body"> --}}
                    {{!-- <h3 class="card-title">{{warmup exercises.name}}</h3> --}}
                    {{!-- <p class="card-text">{{warmup exercise.description}}</p> --}}
                    {{!-- </div>

            </div>
    </div>
    <div class="row">
        <divc class="col-md-4">
            <div class="card mb-3">
                <div class="card-body"> --}}
                    {{!-- <h3 class="card-title">{{warmup exercises.name}}</h3> --}}
                    {{!-- <p class="card-text">{{warmup exercise.description}}</p> --}}
                    {{!-- </div>

            </div>
    </div>
</div> --}}
{{!-- Should it just be a link to the workout page? --}}
{{!-- <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button">On To Todays Workout!</button>
</div> --}}