<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>Hear this...</h2>
            {{#each quotes as |quote|}}
            <div class="card mb-3">
                <blockquote class="quote">
                    <p>{{quote.quotes}}</p>
                </blockquote>
            </div>
        {{/each}}
        </div>
    </div>
</div>
<div class="row">
    <divc class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                {{!-- <h3 class="card-title">{{warmup exercises.name}}</h3> --}}
                {{!-- <p class="card-text">{{warmup exercise.description}}</p> --}}
            </div>

        </div>
</div>
<div class="row">
    <divc class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                 {{!-- <h3 class="card-title">{{warmup exercises.name}}</h3> --}}
                {{!-- <p class="card-text">{{warmup exercise.description}}</p> --}}
            </div>

        </div>
</div>
<div class="row">
    <divc class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
              {{!-- <h3 class="card-title">{{warmup exercises.name}}</h3> --}}
                {{!-- <p class="card-text">{{warmup exercise.description}}</p> --}}
            </div>

        </div>
</div>
{{!-- Should it just be a link to the workout page? --}}
<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button">On To Todays Workout!</button>
</div>