<div class="workoutpage">
  <div class="workout-container">
    <h1 class="row" id="form-color">
      Choose which muscle group you would like to wokrout today!
    </h1>
  </div>

  {{!-- new carousel --}}
  <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card">
          <div class="image-wrapper"><img src="https://images.unsplash.com/photo-1683587056272-4f7f0abb1b38?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2000&q=80" alt="Slide 1"></div>
          <div class="card-body">
            <h5 class="card-title">Back and Biceps</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
             <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
            data-muscle="{{muscle}}">Back and Biceps</button>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <div class="image-wrapper"><img src="https://images.unsplash.com/photo-1507398941214-572c25f4b1dc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Y2hlc3QlMjBhbmQlMjB0cmljZXBzJTIwd29ya291dHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=700&q=60" alt=" slide 2"></div>
          <div class="card-body">
            <h5 class="card-title">Chest and Triceps</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
             <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
            data-muscle="{{muscle}}">Chest and Triceps</button>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <div class="image-wrapper"><img src="https://images.unsplash.com/photo-1532384748853-8f54a8f476e2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2hvdWxkZXIlMjB3b3Jrb3V0fGVufDB8fDB8fHww&auto=format&fit=crop&w=700&q=60" alt="..."></div>
          <div class="card-body">
            <h5 class="card-title">Shoulders</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
             <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
            data-muscle="{{muscle}}">Shoulders</button>
          </div>
        </div>
      </div>
      <div class="carousel-item active">
        <div class="card">
          <div class="image-wrapper"><img src="https://images.unsplash.com/photo-1534367990512-edbdca781b00?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8UXVhZCUyMHdvcmtvdXR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=700&q=60" alt="..."></div>
          <div class="card-body">
            <h5 class="card-title">Quads</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
             <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
            data-muscle="{{muscle}}">Quadriceps</button>
          </div>
        </div>
      </div>
      <div class="carousel-item active">
        <div class="card">
          <div class="image-wrapper"><img src="" alt="..."></div>
          <div class="card-body">
            <h5 class="card-title">Glutes and Hamstrings</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
             <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
            data-muscle="{{muscle}}">Glutes and Hamstrings</button>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

   <!-- Modal; will appear when button for exercise is clicked-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Today's Workout:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        {{#each MuscleGroups as |muscle|}}
        <div class="modal-body">
          {{muscle.muscle_name}}
          {{muscle.description}}
          {{muscle.exercises_id}}
        </div>
        {{/each}}
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Cool Down Page</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="/public/js/workoutpage.js"></script>
</div>